

body{
    margin: 0;
    padding: 0;
}

.introduce{
    table-layout: fixed;
    width: 100%;
    height: 730px;
    background-color:rgb(230, 230, 230);
    text-align: center;
    display: table;
    font: 100px;
}

.hello{
    display: table-cell;
    vertical-align: middle;
}